

.advertisement {
    height: 1000px;
    width: 200px;
    outline: solid 2px black;
    text-align: center;
    
}

.flex-containerLSV{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@media (max-width:600px){
    .advertisement{
        display: none;
    }

    .LatestStoriesVer-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .flex-container{
        display: none;
    }
}